# Dependencies
node_modules/

# Build
dist/
tmp/

# Nx
.nx/cache
.nx/workspace-data

# Environment
.env
.env.*
!.env.example

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
